.lead{
    font-size: 40px;
}
.jokers button{
    margin-left:10px;
  
}
.end{
    min-height: 100%; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}